@import "tailwindcss";


.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}

